html, body {
  margin: 0;
  width: 100%;
}
.wrapper {
  width: auto;
}
.nav div {
  height: 6px;
  background-color: white;
  margin: 5px 0;
  border-radius: 25px;
}
.nav {
  width: 100px;
  display: block;
  margin: 3em 0 0 3em;
}
.one {
  width: 30px;
}
.two {
  width: 25px;
}
.three {
  width: 30px;
}
.topbar {
  display: flex;
  justify-content: space-between;
}
.search {
  width: 100px;
  display: block;
  margin: 3em 0 0 3em;
  filter: invert(1);
}
body {
  background-image: url(https://images.unsplash.com/photo-1667977549554-51ab4fcacd7e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
}
main {
  color: white;
}
.vasaktext {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.paremtext {
  font-family: 'Josefin Sans', sans-serif;
  margin-right: 3.5em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sisu {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  line-height: 55px;
}
.parent {
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-template-rows: 1fr;
grid-column-gap: 0px;
grid-row-gap: 0px;
border: 4px solid cyan;
}
p {
  display: inline-block;
  line-height: 32px;
  margin-bottom: 30px;
}
.vasakkeskel {
  width: 500px;
  margin: 4rem;
  border-right: 5px solid cyan;
}
.paremkeskel {
  width: 500px;
  margin: 4rem;
  border-left: 5px solid cyan;
}
